/* Style sheet for torus puzzle with 4 rows and columns and tile side lengths of
100 pixels. */

.square {
  font-size: 30pt;
  text-align: center;
  width: 98px;
  height: 98px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  background-image: url(gabe.jpg);
  position: absolute;
  cursor: default;
}

#puzzleframe {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#puzzlearea {
  float: left;
  height: 400px;
  width: 400px;
  position: relative;
}

.colcycle button, .rowcycle button {
  background-color: transparent;
  border: none;
  padding: 0px;
  width: 30px;
  height: 30px;
}

.colcycle button:hover, .rowcycle button:hover {
  color: red;
  cursor: pointer;
}

.colcycle {
  width: 460px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 65px;
}

#down {
  clear: left;
}

.rowcycle {
  float: left;
  width: 30px;
  height: 400px;
}

.colcycle button {
  margin-right: 70px;
}

.rowcycle button {
  margin-top: 35px;
  margin-bottom: 35px;
}

#shuffle {
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
